---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Location from "../components/Location.astro";
import Gifts from "../components/Gifts.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Carlos y Arely">
  <main class="min-w-full h-dvh flex flex-col items-center">
    <Header />
    <Location />
    <Gifts />
    <Footer />
  </main>
</BaseLayout>
