<section class="text-center w-full py-5">
  <h2 class="text-mainFont text-3xl py-3">Contacto</h2>
  <div class="flex justify-center md:gap-4 flex-col md:flex-row">
    <a
      href="https://api.whatsapp.com/send/?phone=525534562400&text&type=phone_number"
      target="_blank"
      class="rounded p-3 hover:text-mainFont"
    >
      Carlos G. - 5534562400</a
    >
    <a
      href="https://api.whatsapp.com/send/?phone=5519483670&text&type=phone_number&app_absent=0"
      target="_blank"
      class="rounded p-3 hover:text-mainFont">Arely V. - 5519483670</a
    >
  </div>
</section>
<footer class="bg-mainFont w-full p-4 text-center py-10">
  <h3 class="text-white italic text-lg">
    Ponme como un sello sobre tu corazón, como una marca sobre tu brazo...
  </h3>
  <p class="text-white text-sm">Cantares 8:6</p>
</footer>
