<section class="flex flex-col text-center items-center p-4 py-20 gap-3">
  <p class="text-black text-center text-pretty">
    ¡Estamos felices de compartir con ustedes este día tan especial para
    nosotros!
  </p>
  <p class="">Los esperamos en:</p>

  <h2 class="text-mainFont text-3xl">Ex Hacienda La Resurrección</h2>
  <div class="pb-6">
    <h3 class="text-secondaryFont text-2xl">
      José María Morelos y Pavón 1, La Resurrección.
    </h3>
    <h3 class="text-secondaryFont text-2xl">C.P. 56200, Texcoco, México.</h3>
  </div>
  <iframe
    class="max-w-[90%] rounded-lg shadow-xl"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.238259831083!2d-98.86129352396358!3d19.531381937517185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e7dd67ee1801%3A0x18a2f24b0ba94be4!2sEx%20Hacienda%20La%20Resurrecci%C3%B3n!5e0!3m2!1ses-419!2smx!4v1720715072423!5m2!1ses-419!2smx"
    width="1000"
    height="500"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
